{% load static %}

<!DOCTYPE html>
<html lang="enl" class="h-100">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
  <title>Science Education</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

  <div class="container h-100 mb-5 mt-5">
    <div class="row h-100 justify-content-center align-items-center mb-5">
        <div class="col-10 col-md-8 col-lg-5 mb-5">
            <!-- Form -->
            <form class="form-example" action="" method="post">
              {% csrf_token %}
              <div class="mb-4 text-center">
                <img class="img-fluid" src="{% static 'logo.png' %}" alt="logo" width="100" height="50">
              </div>
                <h1 class="text-success text-center">Add Staff Account</h1>
                <div class="form-group mt-4">
                  <label for="username">Username</label>
                  <input type="text" name="username" class="form-control" style="height:50px" id="username" placeholder="Username" required>
                </div>
                <div class="form-group mt-4">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control" style="height:50px" id="email" aria-describedby="emailHelp" placeholder="Email" required>
                </div>
                <div class="form-group mt-4">
                  <label for="password">Password</label>
                  <input type="password" name="password1" class="form-control" style="height:50px" id="password" placeholder="Choose a strong password" required>
                </div>
                <div class="form-group mt-4">
                  <label for="password">Repeat password</label>
                  <input type="password" name="password2" class="form-control" style="height:50px" id="password" placeholder="Repeat password" required>
                </div>
                <button type="submit" class="btn btn-success mt-4 text-center fw-bold" style="width:100%">Add</button>
                {{error}}
              </form>
        </div>
    </div>
</div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>

